name: PDF creation

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
  workflow_dispatch:

jobs:
  create_pdfs:
    runs-on: ubuntu-20.04
    container: pandoc/latex:latest
    steps:
      - name: Install bash
        run: apk add bash
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Compile PDFs (slides)
        run: |
          ./scripts/create-pdf-from-markdown.sh slides
      - uses: actions/upload-artifact@master
        with:
          name: slides
          path: slides
          retention-days: 7
      - name: Compile PDFs (texts)
        run: |
          ./scripts/create-pdf-from-markdown.sh text
      - uses: actions/upload-artifact@master
        with:
          name: texts
          path: texts
          retention-days: 7
      - name: Compile PDFs (quizzes)
        run: |
          ./scripts/create-pdf-from-markdown.sh quiz
      - uses: actions/upload-artifact@master
        with:
          name: texts
          path: texts
          retention-days: 7
      - name: Compile PDFs (exercises)
        run: |
          ./scripts/create-pdf-from-markdown.sh exercise
      - uses: actions/upload-artifact@master
        with:
          name: texts
          path: texts
          retention-days: 7
      - name: Compile PDFs (notes)
        run: |
          ./scripts/create-pdf-from-markdown.sh notes
      - uses: actions/upload-artifact@master
        with:
          name: texts
          path: texts
          retention-days: 7
